.custom-pos{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.custom-pos:nth-child(1){
    right: 11%;
}

.custom-pos:nth-child(2){
    right: 2%;
}

.custom-size{
    height: 4em;
}

.custom-size:nth-child(1){
    width: 8%;                                                              
}

.custom-size:nth-child(2){
    width: 8%;
}   
